<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title"><%= @task.title %></h4>
</div>
<div class="modal-body">
  <p>Description: <%= @task.description %></p>
  <p>Priority: <%= @task.priority %></p>
  <p>Expire on: <%= @task.due_date %></p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>