<% content_for :user_menu do %>
  <button type="button" class="navbar-toggle toggle-left hidden-md hidden-lg" data-toggle="sidebar" data-target=".sidebar-left">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
<% end %>

<div class="col-xs-6 col-sm-3 col-md-2 sidebar sidebar-left sidebar-animate sidebar-md-show">
  <ul class="nav navbar-stacked">
    <li>
      <div class="btn-group">
        <%= link_to "New task", new_task_path, remote: true, class: "btn btn-primary" %>
      </div>
    </li>
    <li><h4>Show</h4>
      <ul id="filters" class="btn-group">
        <li><button class="btn btn-info active" data-filter="*">all</button></li>
        <li><button class="btn btn-info" data-filter=".active">active</button></li>
        <li><button class="btn btn-info" data-filter=".completed">completed</button></li>
      </ul>
    </li>
    <li><h4>Sort by</h4>
      <ul id="sorts" class="btn-group">
        <li><button class="btn btn-info active" data-sort-by="original-order">original order</button></li>
        <li><button class="btn btn-info" data-sort-by="title">title</button></li>
        <li><button class="btn btn-info" data-sort-by="priority">priority</button></li>
        <li><button class="btn btn-info" data-sort-by="date">due date</button></li>
      </ul>
    </li>
  </ul>
</div>

<div class="main col-md-10 col-md-offset-2">
  <!-- <#%= form_for @tasks, remote: true do |form| %> -->
    <div class="btn-group">
      <button type="button" id='check_all' class="btn btn-primary">Check All</button>
      <button type="button" id='uncheck_all' class="btn btn-primary">Uncheck All</button>
      <button type="button" id='delete_selected' class="btn btn-primary">Delete selected</button>
    </div>
    <% if notice %>
      <button class="info btn btn-success pull-right"><%= notice %></button>
    <% end %>
    <% if alert %>
      <button class="info btn btn-danger pull-right"><%= alert %></button>
    <% end %>
    <div class="task-index isotope">
      <%= render @tasks %>
    </div>
  <!-- <#% end %> -->
</div>

<div class="col-xs-5 col-sm-2 col-md-2 sidebar sidebar-right sidebar-animate">
  
</div>

<div class="modal fade" id="task-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>
